#view {
  width: auto; }

#view.slide-in.ng-enter,
#view.slide-in.ng-leave {
  position: absolute;
  left: 30px;
  right: 30px;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease; }

#view.slide-in.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease;
  -moz-animation: slideInRight 0.5s both ease;
  animation: slideInRight 0.5s both ease; }

#view.slide-in.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease;
  -moz-animation: slideOutLeft 0.5s both ease;
  animation: slideOutLeft 0.5s both ease; }

@keyframes slideOutLeft {
  to {
    transform: translateX(-200%); } }

@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-200%); } }

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-200%); } }

@keyframes slideInRight {
  from {
    transform: translateX(200%); }
  to {
    transform: translateX(0); } }

@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(200%); }
  to {
    -moz-transform: translateX(0); } }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(200%); }
  to {
    -webkit-transform: translateX(0); } }

#view.fade-in {
  transition: 2s linear all;
  -webkit-transition: 0.7s linear all; }

#view.fade-in.ng-enter {
  opacity: 0;
  transition: 0.7s linear; }

#view.fade-in.ng-enter.ng-enter-active {
  opacity: 1; }

#view.fade-in.ng-leave {
  opacity: 1; }

#view.fade-in.ng-leave.ng-leave-active {
  opacity: 0; }

#view.scale {
  transition: 2s linear all;
  -webkit-transition: 2s linear all; }

#view.scale.ng-enter,
#view.scale.ng-leave {
  transition: 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }

#view.scale.ng-enter.ng-enter-active,
#view.scale.ng-leave {
  transform: scaleY(1);
  height: 30px;
  opacity: 1; }

#view.scale.ng-leave.ng-leave-active,
#view.scale.ng-enter {
  transform: scaleY(0);
  height: 0px;
  opacity: 0; }

.color-red {
  color: red; }

.with-hover:hover {
  background: #f0f0f0; }

.total-claims {
  background: #4445B7;
  color: white !important;
  font-weight: bold !important;
  text-align: left !important;
  font-size: 16px !important; }

.search-set {
  height: 230px; }

.demo-background {
  background-color: #f0f0f0; }

.demo-so md-toolbar {
  height: 30px;
  min-height: 30px; }

.demo-so .td-space {
  padding-left: 5px !important; }

.demo-so .table-set {
  padding-right: 5px;
  padding-left: 5px;
  min-width: 0;
  border-color: #ececec;
  border-style: solid;
  border-width: 0.7px; }

.demo-so table.md-table thead.md-head > tr.md-row {
  height: 35px;
  background-color: #e6e3e3; }

.demo-so table.md-table tbody.md-body > tr.md-row, .demo-so table.md-table tfoot.md-foot > tr.md-row {
  height: 35px; }

.demo-so .table-container {
  height: 200px;
  background-color: #f3f2f2;
  border: 1px solid lightgray;
  overflow-x: auto;
  overflow-y: hidden; }

.demo-so .table-container-2 {
  /*overflow: auto;*/
  padding-top: 10px; }

.demo-so md-table-container {
  display: inline-table;
  background-color: white; }

.demo-so table.md-table td.md-cell > *, .demo-so table.md-table th.md-column > * {
  vertical-align: middle;
  color: black; }

.demo-so table.md-table th.md-column {
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray; }

.demo-so table.md-table td.md-cell {
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray; }

.demo-so md-table-container {
  min-width: 100%; }

.demo-so .add-notes {
  margin-top: 15px; }

.demo-so md-checkbox.md-default-theme.md-checked .md-icon, .demo-so md-checkbox.md-checked .md-icon {
  background-color: rgba(130, 123, 126, 0.87); }

.demo-so table.md-table.md-row-select td.md-cell:first-child, .demo-so table.md-table.md-row-select th.md-column:first-child {
  width: 20px;
  padding: 0; }

.demo-so md-tabs.md-default-theme .md-tab.md-active, .demo-so md-tabs .md-tab.md-active, .demo-so md-tabs.md-default-theme .md-tab.md-active md-icon, .demo-so md-tabs .md-tab.md-active md-icon, .demo-so md-tabs.md-default-theme .md-tab.md-focused, .demo-so md-tabs .md-tab.md-focused, .demo-so md-tabs.md-default-theme .md-tab.md-focused md-icon, .demo-so md-tabs .md-tab.md-focused md-icon {
  color: white;
  background-color: #3f51b5; }

.demo-so .md-tab {
  margin-top: 10px;
  padding: 5px 10px; }

.demo-so md-pagination-wrapper {
  height: 0px; }

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffa528; }

.main-menu-option-card {
  height: 120px; }

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
  background-color: #0888df;
  color: white;
  height: 40px;
  min-height: 40px;
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-width: 3px; }

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #0888df;
  color: white; }

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }

.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; }

.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; }

.selectdemoSelectHeader md-content._md {
  max-height: 240px; }

.footer-link {
  text-decoration: none;
  color: #353535; }

.search-container {
  padding-top: 49px; }

.atp-container {
  padding-top: 67px; }

@media (min-width: 750px) and (max-width: 970px) {
  .search-container {
    padding-top: 80px; }
  .order-number-conatiner {
    height: unset !important; }
  .atp-container {
    padding-top: 98px; }
  .btn-nomin {
    min-width: unset;
    padding: 0;
    margin: 0; }
  .autocomplete {
    height: 60px !important; }
  .atp-table table.md-table:not(.md-row-select) td.md-cell:first-child,
  .atp-table table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0; }
  .atp-table table.md-table td.md-cell:last-child, .atp-table table.md-table th.md-column:last-child {
    padding: 0; } }
