<div ng-controller="ClaimsController" ng-cloak ng-init="init(false)">



<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="gotoHome()">
         <md-icon ng-bind="'home'"></md-icon>
        </md-button>

        <h2 flex md-truncate>Meister Claims Resolution</h2>

    
         <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>
   <md-toolbar class="md-table-toolbar md-default">

    <div class="md-toolbar-tools">
        
        <h2 flex md-truncate>My Claims</h2>
           <md-button class="md-raised md-primary md-button md-ink-ripple" style="color:white" ng-click="aproveConfirm($event)" ng-disabled="selected.length == 0">
            Approve
            </md-button>
      </div>

    </md-toolbar>

    <md-content class="md-padding" layout="row">
    
     <div layout="row" flex="100" layout-xs="column">
        
        <div flex="20" flex-xs="100" >
           <md-table-container >
            <table md-table md-progress="promise1" flex-xs="40">
              <thead md-head>
                <tr md-row>
                  <th md-column ng-class="{'total-claims':isMobileDevice}">{{isMobileDevice ? 'Total' : 'My Claims'}}</th>
                  <th md-column ng-class="{'total-claims':isMobileDevice}">{{total}}</th>
                </tr>
              </thead>
              <tbody md-body style="font-weight: bold" hide-xs>
                <tr md-row md-select="c" md-auto-select ng-repeat="c in claims" class="with-hover">
                  <td md-cell>{{c.WBS}}</td>
                  <td md-cell>{{c.total}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
        <div flex="10" flex-xs="100" style="height: 10px">
        </div>
        <div flex="70" flex-xs="100">
            
            <md-table-container >
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise2">
              <thead md-head>
                <tr md-row >
                  <th md-column>Claim No.</th>
                  <th md-column hide-xs hide-sm>Description</th>
                  <th md-column hide-xs hide-sm >Defect Location</th>
                  <th md-column hide-xs >WBS</th>
                  <th md-column>Amount</th>
                  <th md-column></th>
                </tr>
              </thead>
              <tbody md-body style="font-weight: bold">
                <tr md-row md-select="c" class="with-hover" md-auto-select ng-disabled="c.ACCEPTED == 0" ng-repeat-start="c in claims_details" ng-mouseover="showDetails(c)" ng-mouseleave="hideDetails(c)">
                  <td md-cell>{{c.CLAIM}}</td>
                  <td md-cell hide-xs hide-sm>{{c.DESCRIPTION}}</td>
                  <td md-cell hide-xs hide-sm >{{c.DEFECT_LOCATION}}</td>
                  <td md-cell hide-xs >{{c.WBS}}</td>
                  <td md-cell><span ng-class="{'color-red':c.ACCEPTED==0}">{{c.ACCEPTED | currency}}</span></td>
                  <td md-cell ng-click="gotoClaimDetails(c)">
                    <md-icon ng-bind="'keyboard_arrow_right'"></md-icon>
                  </td>
                  
                </tr>
                <tr ng-show="c.$showTooltip || c.$showTooltip2" ng-repeat-end style="background:#f0f0f0;" ng-mouseover="showDetails2(c)" ng-mouseleave="hideDetails2(c)">
                    <td md-cell>
                    </td>
                    <td md-cell colspan="3">
                        <table>
                          <tr>
                            <td style="text-align: right;color:gray">CLAIM:</td>
                            <td>{{c.CLAIM}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: right;color:gray">WBS:</td>
                            <td>{{c.WBS}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: right;color:gray">DESCRIPTION:</td>
                            <td>{{c.DESCRIPTION}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: right;color:gray">DEFECT LOCATION:</td>
                            <td>{{c.DEFECT_LOCATION}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: right;color:gray">AMOUNT:</td>
                            <td>{{c.ACCEPTED | currency}}</td>
                          </tr>
                       </table>
                    </td>
                    <td md-cell hide-xs hide-sm></td>
                    <td md-cell hide-xs hide-sm></td>
                    <td md-cell hide-xs></td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
 </div>
    
     
 </md-content>
</div>