<div ng-controller="ClaimDetailsController" ng-cloak id="popupContainer">

<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="gotoHome()">
         <md-icon ng-bind="'home'"></md-icon>
        </md-button>

        <h2 flex md-truncate>Meister Demo</h2>

    
         <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default">

    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="gotoClaims()">
         <md-icon ng-bind="'keyboard_backspace'"></md-icon>
        </md-button>

        <h2 flex md-truncate>Claim 3499568569 Details</h2>

    
           <md-button class="md-raised md-primary md-button md-ink-ripple" style="color:white" ng-click="aproveConfirm($event)">
            Aprove
            </md-button>

             <md-button class="md-raised md-warn md-button md-ink-ripple" style="color:white" ng-disabled="tabSelected != 2" ng-click="simulate()">
            Simulate
            </md-button>
      </div>

    </md-toolbar>

        
      <div layout="row" flex="100">
        
        <div flex="50" >
           <h4>Cost Information</h4>
           <table>
              <tr>
                <td style="text-align: right;color:gray">Estimated:</td>
                <td>$ 225,000</td>
              </tr>
              <tr>
                <td style="text-align: right;color:gray">Required:</td>
                <td>$ 357,750</td>
              </tr>
              <tr>
                <td style="text-align: right;color:gray">Accepted:</td>
                <td>$ 225,000</td>
              </tr>
           </table>
        </div>
        <div flex="50">
          <h4>Appraisal Data</h4>
          <table>
              <tr>
                <td style="text-align: right;color:gray">Project:</td>
                <td>$ 225,000</td>
              </tr>
              <tr>
                <td style="text-align: right;color:gray">WBS:</td>
                <td>$ 357,750</td>
              </tr>
              <tr>
                <td style="text-align: right;color:gray">Code Tex:</td>
                <td>$ 225,000</td>
              </tr>
               <tr>
                <td style="text-align: right;color:gray">Cause:</td>
                <td>$ 225,000</td>
              </tr>
               <tr>
                <td style="text-align: right;color:gray">Start Date:</td>
                <td>$ 225,000</td>
              </tr>
               <tr>
                <td style="text-align: right;color:gray">End Date:</td>
                <td>$ 225,000</td>
              </tr>
           </table>
        </div>
      </div>
        <div layout="row" flex="100">

          <md-tabs md-border-bottom flex="100" md-dynamic-height md-border-bottom>
      <md-tab label="Cost Matrix" ng-click="tabSelected = 1">
        <md-content class="md-padding" flex="50"> 
          <h4 >Cost Matrix</h4>
          <md-table-container >
            <table md-table md-row-select multiple ng-model="selected" >
              <thead md-head>
                <tr md-row>
                  <th md-column>Item No.</th>
                  <th md-column>Category</th>
                  <th md-column>Cost Object</th>
                  <th md-column>Plant</th>
                  <th md-column>Total Price</th>
                  <th md-column></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="c" md-auto-select ng-repeat="c in costs">
                  <td md-cell>{{c.item_no}}</td>
                  <td md-cell>{{c.category}}</td>
                  <td md-cell>{{c.cost}}</td>
                  <td md-cell>{{c.plant}}</td>
                  <td md-cell>{{c.price}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-content>
      </md-tab>
      <md-tab label="Budget Matrix" ng-click="tabSelected = 2">
        <md-content  class="md-padding"  flex="100" layout="row">
        <div flex="45">
          <h4 ng-if="!is_simulated">Budget Matrix</h4>
          <h4 ng-if="is_simulated">Before</h4>
            <md-toolbar class="md-table-toolbar md-default"  ng-repeat-start="b in budgets">
              <div class="md-toolbar-tools">
               <md-button class="md-icon-button" aria-label="Settings" 
                  ng-click="b.$show = !b.$show">
                <md-icon ng-bind="b.$show == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right'" ></md-icon>
              </md-button>

                 <h2 flex md-truncate>{{b.wbs}}</h2>
              </div>
            </md-toolbar>
              <md-table-container ng-repeat-end ng-if="b.$show">
            <table md-table md-row-select multiple ng-model="selected" >
              <thead md-head>
                <tr md-row>
                  <th md-column>Item No.</th>
                  <th md-column>Category</th>
                  <th md-column>Cost Object</th>
                  <th md-column>Plant</th>
                  <th md-column>Total Price</th>
                  <th md-column></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="c" md-auto-select ng-repeat="c in costs">
                  <td md-cell>{{c.item_no}}</td>
                  <td md-cell>{{c.category}}</td>
                  <td md-cell>{{c.cost}}</td>
                  <td md-cell>{{c.plant}}</td>
                  <td md-cell>{{c.price}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
   
        </div>

        <div flex="10"></div>

         <div flex="45" ng-if="is_simulated">
          <h4>After</h4>
            <md-toolbar class="md-table-toolbar md-default"  ng-repeat-start="b in budgets">
              <div class="md-toolbar-tools">
               <md-button class="md-icon-button" aria-label="Settings" 
                  ng-click="b.$show = !b.$show">
                <md-icon ng-bind="b.$show == true ? 'keyboard_arrow_down' : 'keyboard_arrow_right'" ></md-icon>
              </md-button>

                 <h2 flex md-truncate>{{b.wbs}}</h2>
              </div>
            </md-toolbar>
              <md-table-container ng-repeat-end ng-if="b.$show">
            <table md-table md-row-select multiple ng-model="selected" >
              <thead md-head>
                <tr md-row>
                  <th md-column>Item No.</th>
                  <th md-column>Category</th>
                  <th md-column>Cost Object</th>
                  <th md-column>Plant</th>
                  <th md-column>Total Price</th>
                  <th md-column></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="c" md-auto-select ng-repeat="c in costs">
                  <td md-cell>{{c.item_no}}</td>
                  <td md-cell>{{c.category}}</td>
                  <td md-cell>{{c.cost}}</td>
                  <td md-cell>{{c.plant}}</td>
                  <td md-cell>{{c.price}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
   
        </div>
      </md-content>
      </md-tab>
    </md-tabs>

        </div>
     
</div>