<div ng-controller="HomeController" ng-cloak>

<md-sidenav class="md-sidenav-left" md-component-id="left">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Demo Suite</h1>
      </md-toolbar>

      <md-content style="" >
        <!--md-menu-content width="4">
          <md-menu-item>
          <md-button ng-click="gotoMainReports()">Meister Reports
          </md-button>
        </md-menu-item-->
        <md-menu-item>
          <md-button ng-click="gotoClaims()">Budget/Claims
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="gotoSalesOrder()">Sales Order
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button >Purchase Order
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button onclick="window.open('http://meistersdk.dyndns.org','_blank')">Reporting/SDK
          </md-button>
        </md-menu-item>
      </md-menu-content>

    </md-sidenav>


<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
         <md-icon ng-bind="'menu'"></md-icon>
        </md-button>
        <img src="public/images/meister.png" height="34px">
        &nbsp;&nbsp;
        <h2 flex md-truncate>
           Demo Suite
        </h2>

      
        <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>

    <md-content class="md-padding" layout-xs="column" layout="row" style="padding-top: 0px;padding-bottom: 0px">
    <div flex-xs flex-gt-xs="50" layout="column" style="padding-right: 15px">

       <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Budget/Claims</span>
            <span class="md-subhead">Claims approval and Multiyear budget balancing</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="gotoClaims()" class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card>

       <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Sales Order</span>
            <span class="md-subhead">Order Entry, Review, and Modification with Partner and Material History <br/>and Analytics</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="gotoSalesOrder()" class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Purchase Order</span>
            <span class="md-subhead">PO Creation and Vendor History</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card>

       <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Reporting/SDK</span>
            <span class="md-subhead">Any\Multi SAP Report: Scheduling, Exporting, SDK</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary md-button md-ink-ripple" style="color:white" onclick="window.open('http://meistersdk.dyndns.org','_blank')">Launch</md-button>
        </md-card-actions>
      </md-card>
     </div>

     <div flex-xs flex-gt-xs="50" layout="column" style="{{!isMobileDevice ? 'padding-left: 15px' : 'padding-right: 15px'}}" >

         <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card" style="{{!isMobileDevice ? 'height: 529px': 'height:100%'}}">
          <md-card-title style="padding-top: 10px">
          <md-card-title-text style="text-align: center;">
            <span class="md-headline">More to see. Call to schedule a demo </span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
              <table md-table md-body style="overflow: hidden;" md-card-image>
                <tbody md-body> 
                  <tr md-row>
                    <td md-cell class="td-space" width="80%" style="padding: 0;border:0">
                      <md-card-title>
                      <md-card-title-text >
                      <span class="md-headline">FICO Reports with EXCEL</span>
                      <span style="color:rgba(0,0,0,0.54)">Exporting Any SAP FICO report to EXCEL. All Metadata included</span>
                      </md-card-title-text>
                    </md-card-title>
                    </td>
                    <td md-cell class="td-space" width="20%" style="padding: 0;border:0">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                   <tr md-row>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                      <md-card-title>
                      <md-card-title-text >
                      <span class="md-headline">Enterprise Orchestration</span>
                      <span style="color:rgba(0,0,0,0.54)">Manage workflows and business processes with SAP and other systems</span>
                      </md-card-title-text>
                    </md-card-title>
                    </td>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                  <tr md-row>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                        <md-card-title>
                        <md-card-title-text >
                        <span class="md-headline">Water Utility Field Services</span>
                        <span style="color:rgba(0,0,0,0.54)">Exporting Any SAP FICO report to EXCEL. All Metadata included</span>
                        </md-card-title-text>
                      </md-card-title>
                    </td>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                  <tr md-row>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                       <md-card-title>
                        <md-card-title-text >
                        <span class="md-headline">Invoice Authorization Tool</span>
                        <span style="color:rgba(0,0,0,0.54)">See how Meister saved for a client $1.2MM of late payment fees</span>
                        </md-card-title-text>
                      </md-card-title>
                    </td>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                  <tr md-row>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                      <md-card-title>
                        <md-card-title-text >
                        <span class="md-headline">Client Copy</span>
                        <span style="color:rgba(0,0,0,0.54)">If your Client Copy process takes forever, you need to see this</span>
                        </md-card-title-text>
                      </md-card-title>
                    </td>
                    <td md-cell class="td-space" style="padding: 0;border:0">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                </tbody>
              </table>
          </md-card-content>

          </md-card>

     </div>

 </md-content>
 <footer>
      <md-toolbar class="md-scroll-shrink" style="min-height: 40px;background-color: white;color:black;margin-bottom: 50px;padding-top: 10px">
        <div layout="row" layout-align="center center" flex layout-xs="column" >
          <div flex-xs flex-gt-xs="33" layout="column" style="text-align: center;">
            <a class="footer-link" href="http://www.gameister.com" target="_blank">www.gameister.com</a>
          </div>
          <div flex-xs flex-gt-xs="33" layout="column" style="text-align: center;">
            <a class="footer-link" href="mailto:info@s4meister.com" target="_blank">info@s4meister.com</a>
          </div>
          <div flex-xs flex-gt-xs="33" layout="column" style="text-align: center;">
            <a class="footer-link" href="tel:214-974-8383" target="_blank">214-974-8383</a>
          </div>
        </div>
      </md-toolbar>
    </footer>
</div>