<div ng-controller="HomeController" ng-cloak>

<md-sidenav class="md-sidenav-left" md-component-id="left">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Demo Suite</h1>
      </md-toolbar>

      <md-content style="" >
        <!--md-menu-content width="4">
          <md-menu-item>
          <md-button ng-click="gotoMainReports()">Meister Reports
          </md-button>
        </md-menu-item-->
        <md-menu-item>
          <md-button ng-click="gotoClaims()">Budget/Claims
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="gotoSalesOrder()">Sales Order
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button >Purchase Order
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button onclick="window.open('http://meistersdk.dyndns.org','_blank')">Reporting/SDK
          </md-button>
        </md-menu-item>
      </md-menu-content>

    </md-sidenav>


<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
         <md-icon ng-bind="'menu'"></md-icon>
        </md-button>
        <img src="public/images/meister.png" height="34px">
        &nbsp;&nbsp;
        <h2 flex md-truncate>
           Demo Suite
        </h2>

      
        <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>

    <md-content class="md-padding" layout-xs="column" layout="row" style="padding-top: 0px">
    <div flex-xs flex-gt-xs="50" layout="column" style="padding-right: 15px">

    <!--md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Meister Reports</span>
            <span class="md-subhead">Meister Reports</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="gotoMainReports()" class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card -->

       <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Budget/Claims</span>
            <span class="md-subhead">Claims approval and Multiyear budget balancing</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="gotoClaims()" class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card>

       <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Sales Order</span>
            <span class="md-subhead">Order Entry, Review, and Modification with Partner and Material History <br/>and Analytics</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="gotoSalesOrder()" class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Purchase Order</span>
            <span class="md-subhead">PO Creation and Vendor History</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button   class="md-raised md-primary md-button md-ink-ripple" style="color:white">Launch</md-button>
        </md-card-actions>
      </md-card>

       <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card">
        <md-card-title style="padding-top: 10px">
          <md-card-title-text>
            <span class="md-headline">Reporting/SDK</span>
            <span class="md-subhead">Any\Multi SAP Report: Scheduling, Exporting, SDK</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary md-button md-ink-ripple" style="color:white" onclick="window.open('http://meistersdk.dyndns.org','_blank')">Launch</md-button>
        </md-card-actions>
      </md-card>
     </div>

     <div flex-xs flex-gt-xs="50" layout="column" style="padding-bottom: 20px; {{!isMobileDevice ? 'padding-left: 15px' : 'padding-right: 15px'}}">

         <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="main-menu-option-card" style="height: 529px">
           
           <div flex="100" class="table-container" style="text-align: center;{{!isMobileDevice ? 'padding-top: 10%' : ''}}">
            <h3>More to See. Call to Schedule</h3>
            <md-table-container style="{{!isMobileDevice ? 'padding-left: 20px' : ''}}">
              <table md-table md-body>
                <tbody md-body> 
                  <tr md-row style="background-color: #4472C4">
                    <td md-cell class="td-space" width="30%">Invoice Authorization Tool</td>
                    <td md-cell class="td-space" width="60%">See how Meister saved one client $1.2MM per year in late payment fees.</td>
                    <td md-cell class="td-space" width="10%" style="background-color: white;border: 0px">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                   <tr md-row style="background-color: rgb(205,212,234);">
                    <td md-cell class="td-space" width="30%">Water Utility Field Services</td>
                    <td md-cell class="td-space" width="60%">Full mobility orchestrated to multiple backend systems.</td>
                    <td md-cell class="td-space" width="10%" style="background-color: white;border: 0px">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                  <tr md-row style="background-color: #f4f4f5">
                    <td md-cell class="td-space" width="30%">SAP at Excel</td>
                    <td md-cell class="td-space" width="60%">Full Scope of SAP T-Code Reports at Excel</td>
                    <td md-cell class="td-space" width="10%" style="background-color: white;border: 0px">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                  <tr md-row style="background-color: rgb(205,212,234);">
                    <td md-cell class="td-space" width="30%">Client Copy</td>
                    <td md-cell class="td-space" width="60%">If your client copy process goes forever, you need to see this</td>
                    <td md-cell class="td-space" width="10%" style="background-color: white;border: 0px">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                  <tr md-row style="background-color: #4472C4">
                    <td md-cell class="td-space" width="30%">Add Orchestration</td>
                    <td md-cell class="td-space" width="60%">Manage SAP + other system landscapes</td>
                    <td md-cell class="td-space" width="10%" style="background-color: white;border: 0px">
                      <md-button class="md-raised md-button">
                        CALL
                      </md-button>
                    </td>                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>

          </md-card>

     </div>
 </md-content>
</div>