<div ng-controller="PurchaseOrderController" ng-cloak class="demo-so demo-background">

  <div style="visibility: hidden">
          <div class="md-dialog-container" id="myDialog" >
            <md-dialog layout-padding>
              <h2>Executing Log</h2>
              <fieldset class="table-set" >
                <div  class="table-container" style="background-color: #e2dfdf;width: 100%;height: 350px">
                  <span ng-bind-html="log" style="font-size: 12px"></span>
                </div>
            </fieldset>
            </md-dialog>
          </div>
  </div>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="addNoteDialog" >
      <md-dialog layout-padding>
        <div layout="column"  flex="100" style="padding-top: 20px">
 
         <b>{{note.title}}</b>
          <fieldset class="table-set" >
            <md-input-container class="md-block" flex="50" flex-gt-sm style="margin-bottom: 0px">
              <label>Note content</label>
              <textarea ng-model="note.text" cols="40" rows="3" md-detect-hidden></textarea>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm style="text-align: right;">
              <md-button class="md-raised md-primary md-button" 
                  ng-click="saveNote($event)" ng-disabled="note.text.length==0 || !orderSelected ||  orderSelected=='0' || orderSelected=='NEW'">
              Save
              </md-button>
            </md-input-container>
          </fieldset>
         
        </div>
      </md-dialog>
    </div>
  </div>

<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="gotoHome()">
         <md-icon ng-bind="'home'"></md-icon>
        </md-button>

        <h2 flex md-truncate>Purchase Order</h2>

    
         <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>

  <md-content class="md-padding" layout="row" style="padding-top: 0px">
    
    <div layout="row" flex="100" layout-xs="column">


     <div flex="{{hiddenPartnerInfo ? '1' : '20'}}" flex-xs="100" class="search-container" >
      <div layout="column" ng-show="!isMobileDevice">
          <div style="text-align: right;float: right;width: 100%">
             <md-button  ng-show="!hiddenPartnerInfo" id="btn_hide_material" class="md-mini"  aria-label="Hide Materials" ng-click="hidePartnerInfo()" 
              style="margin:0px 10px -60px 0px;min-width:0px"
              title="Hide Partner Info" >
                <md-icon class="material-icons">navigate_before</md-icon>
            </md-button>
            <md-button  ng-show="hiddenPartnerInfo" id="btn_show_material" class="md-mini"  aria-label="Hide Materials" ng-click="showPartnerInfo()"
            style="margin:0px 10px -60px 0px;min-width:0px" title="Show Partner Info">
                <md-icon class="material-icons">navigate_next</md-icon>
            </md-button>
          </div>
      </div>
        <div layout="column" ng-show="!hiddenPartnerInfo">
          <fieldset class="table-set" >
            <div style="width: 100%;height:15px">
              <div style="width: 50%;float: left;">
                <h5 style="padding-top: 0px;margin-top: 5px;margin-bottom: 5px">Partner Info <span style="color: red">*</span></h5>
              </div>
              <div style="width: 50%;float: right;text-align: right;">
                 <md-button  ng-show="isMobileDevice && !collapseParterInfo  " id="btn_hide_material" class="md-mini"  aria-label="Hide Materials" ng-click="collapseParterInfo = true" 
                  style="margin:0px;min-width:0px"
                  title="Hide Partner Info" >
                    <md-icon class="material-icons">expand_less</md-icon>
                </md-button>
                <md-button  ng-show="isMobileDevice && collapseParterInfo" id="btn_show_material" class="md-mini"  aria-label="Hide Materials" ng-click="collapseParterInfo = false"
                style="margin:0px;min-width:0px" title="Show Partner Info">
                    <md-icon class="material-icons">expand_more</md-icon>
                </md-button>
              </div>
          </div>
          <div ng-show="!isMobileDevice || !collapseParterInfo " style="width: 100%;padding-top: 20px ">
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 20px" >
          <label>Vendor:</label>
          <md-select ng-model="vendorSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in vendorArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 20px" 
          >
          <label>Purchasing Organization:</label>
           <md-select ng-model="purchasingOrganizationSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in purchasingOrganizationArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 20px"
         >
              <label>Plant :</label>
              <md-select ng-model="plantSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in plantArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
         
         <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 20px" 
          >
          <label>Purchase Group:</label>
           <md-select ng-model="purchasegroupSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in purchasegroupArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
         
          </fieldset>
              
        </div>
    </div>

    <div flex="{{hiddenPartnerInfo ? '80' : '60'}}" flex-xs="100" id="tablesContainerMain">

      <div layout="column" flex="100" style="{{!isDesktop ? 'margin-top: 5px;margin-bottom: 20px' : 'margin-top: -6px;'}}">
        <md-tabs md-dynamic-height md-selected="tabSelected">
          <md-tab label="Purchase Order" md-on-select="changeGeneric()">
          </md-tab>
          <md-tab label="PO by Vendor" md-on-select="changeGeneric()">
          </md-tab>
          <md-tab label="Analytics" md-on-select="changeGeneric()">
          </md-tab>
        </md-tabs>
      </div>

      <div  layout="column" flex="100"  ng-show="tabSelected == 0">
       <div style="height: 25px">
        <div style="text-align: left;float: left;width: 50%;padding-top:0px">
          <b>Material Catalog</b>
        </div>
        <div style="text-align: right;float: right;width: 50%;padding-top: 0px;margin-top: -17px">
        <md-button class="md-primary md-raised md-mini" style="margin: 0px; min-width: 0px" 
            title="Show ATP" ng-click="showAtpDialog($event)" ng-show="isMobileDevice"
            ng-disabled="materialSelected.length==0">
          <md-icon class="material-icons">receipt</md-icon>
        </md-button>
           <md-button class="md-primary md-raised md-mini" style="margin: 0px; min-width: 0px" 
            title="Show Logs" ng-click="showLogs($event)">
          <md-icon class="material-icons">list</md-icon>
        </md-button>
          <md-button id="btn_hide_material" class="md-primary md-raised md-mini" 
              aria-label="Hide Materials" style="margin: 0px; min-width: 0px" title="Add Note" 
              ng-disabled="!orderSelected || orderSelected=='0' || orderSelected=='NEW'"
              ng-click="showAddNote($event)">
              <md-icon class="material-icons">note_add</md-icon>
          </md-button>
           <md-button  ng-show="!hiddenMaterial" id="btn_hide_material" class="md-primary md-raised md-mini" aria-label="Hide Materials" ng-click="hideMaterials()" style="margin: 0px; min-width: 0px" title="Hide">
              <md-icon class="material-icons">expand_less</md-icon>
          </md-button>
          <md-button  ng-show="hiddenMaterial" id="btn_show_material" class="md-primary md-raised md-mini" aria-label="Hide Materials" ng-click="showMaterials()" style="margin: 0px;min-width: 0px" title="Show">
              <md-icon class="material-icons">expand_more</md-icon>
          </md-button>
        </div>
       </div>
        <fieldset class="table-set" ng-show="!hiddenMaterial">
          
          <div flex="100" class="table-container" style="{{!isMobileDevice ? 'height: 176px' : 'height: 215px'}}">
            <md-table-container ng-show="materialCatalogProgress">
              <table md-virtual-repeat-container md-table md-row-select ng-model="materialSelected" md-progress="materialCatalogProgress">
                <thead md-head >
                  <tr md-row>
                    <th md-column class="td-space" ><span>Description</span></th>
                    <th md-column class="td-space" ><span>Group</span></th>
                    <th md-column class="td-space" ><span>Material</span></th>
                    <th md-column class="td-space" ><span>Plant</span></th>
                    <th md-column class="td-space" ><span>Price</span></th>
                    <th md-column class="td-space" ><span>Uom</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="m" md-on-select="onSelectMaterialRow"  md-virtual-repeat="m in materialCatalog" 
                      >
                    <td md-cell class="td-space" width="30%">{{m.DESCRIPTION}}</td>
                    <td md-cell class="td-space" width="10%">{{m.GROUP}}</td>
                    <td md-cell class="td-space" width="20%">{{m.MATERIAL}}</td>
                    <td md-cell class="td-space" width="10%">{{m.PLANT}}</td>
                    <td md-cell class="td-space" width="20%">{{m.PRICE}}</td>
                    <td md-cell class="td-space" width="10%">{{m.UOM}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       </div>

       <div layout="column" class="order-number-conatiner"  flex="100" ng-show="tabSelected == 0" style="{{!isMobileDevice ? 'height: 42px;' : ''}}">
             
        <fieldset class="table-set" layout="row" style="border: 0px;padding-bottom: 0px;">
          <div flex="100" flex-xs="100" flex-sm="100" layout="row" layout-xs="column" layout-sm="column" class="table-container-2">
            <div flex="55" layout="row" layout-sm="row" layout-xs="column" flex-sm="100" flex-xs="100">
              <div style="{{!isMobileDevice ? 'margin-top: -20px' : 'height:60px'}}">
                <md-autocomplete class="autocomplete"
                    ng-disabled="!vendorSelected  || !purchasingOrganizationSelected || !plantSelected || !purchasegroupSelected"
                    md-selected-item="orderSelected"
                    md-selected-item-change="changeOrder(o)"
                    md-search-text="searchTextOrderNumber"
                    md-items="o in querySearch(searchTextOrderNumber)"
                    md-item-text="o.label"
                    md-min-length="0"
                    placeholder="Select a PO Number"
                    md-floating-label="PO Number">
                  <md-item-template>
                    <span md-highlight-text="searchTextOrderNumber" md-highlight-flags="^i">{{o.label}}</span>
                  </md-item-template>
                  <md-not-found>
                    No PO number matching "{{searchTextOrderNumber}}" were found.
                  </md-not-found>
                </md-autocomplete>
              </div>
              <div >
                <label style="font-size: 12px;font-weight: bold;" ng-show="!orderSelected">No Sales Document Selected yet</label>
                <label style="font-size: 12px;font-weight: bold;" ng-show="salesOrder.length>0 ">Number of Line items {{salesOrder.length}}</label>
              </div> 
            </div>  
            <div flex="45" layout="row" layout-sm="row" layout-xs="column" flex-sm="100" flex-xs="100">        
              <div ng-show="materialSelected.length>0" flex="40" flex-sm="40" flex-xs="100">
                <md-button class="md-raised md-primary md-button" ng-click="addLines()" 
                 ng-disabled="disableAddLines" style="line-height:24px;min-height: 25px; margin: 0px">
                  Add Items
                </md-button>
              </div>
              <div ng-show="materialSelected.length>0"  flex="60" flex-sm="60" flex-xs="100">
                <md-slider-container style="{{!isMobileDevice ? 'margin-top: -8px;' : ''}}">
                    <md-slider ng-model="multiplier" min="0" max="100" aria-label="blue" id="multiplier-slider"
                               class="md-primary">
                    </md-slider>
                    {{multiplier}}
                </md-slider-container>
              </div>
            </div>
          </div>
        </fieldset>
      </div> 

      <div layout="column"  flex="100" ng-show="tabSelected == 0">
       
        <fieldset class="table-set" >
          <div flex="100" class="table-container" style="{{hiddenMaterial ? 'height: 434px' : 'height: 241px'}};">
            <md-table-container ng-show="readOrderProgress">
              <table md-table md-row-select ng-model="salesOrderSelected" md-progress="readOrderProgress" md-body  md-virtual-repeat-container>
                <thead md-head>
                  <tr md-row >
                    <th md-column class="td-space"><span>LineNo</span></th>
                    <th md-column class="td-space"><span>Material</span></th>
                    <th md-column class="td-space"><span>Plant</span></th>
                    <th md-column class="td-space"><span>Price</span></th>
                    <th md-column class="td-space"><span>Quantity</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="s" md-on-select="onSelectSalesOrderRow" md-virtual-repeat="s in salesOrder" >
                    <td md-cell class="td-space" width="10%">{{s.line_no}}</td>
                    <td md-cell class="td-space" width="30%">{{s.material}}</td>
                    <td md-cell class="td-space" width="20%">{{s.plant}}</td>
                    <td md-cell class="td-space" width="25%">{{s.price | currency : "" : 2}}</td>
                    <td md-cell class="td-space" width="15%">{{s.qty | currency : "" : 0}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

   <div layout="column"  flex="100" ng-show="tabSelected == 1">
    <div style="height: 25px">
        <div style="text-align: left;float: left;width: 50%;padding-top:0px">
          <b>PO by Vendor</b>
        </div>
     </div>
        <fieldset class="table-set" >
          <div flex="100" class="table-container" style="height: 250px">
            <md-table-container ng-show="salesPartnerProgress && vendorSelected" style="height: 250px">
              <table style="height: 250px" md-table md-row-select ng-model="salesHistorySelected" md-progress="salesPartnerProgress" md-virtual-repeat-container>
                <thead md-head md-order="salesHistoryQuery.order">
                  <tr md-row>
                    <th md-column class="td-space" md-order-by="po_number"><span>PO NUMBER</span></th>
                    <th md-column class="td-space" md-order-by="order_date"><span>ORDER DATE</span></th>
                    <th md-column class="td-space" md-order-by="purgrp"><span>PURGRP</span></th>
                    <th md-column class="td-space" md-order-by="type"><span>TYPE</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="s" md-on-select="onSalesHistorySelected" md-virtual-repeat="s in salesHistory | orderBy: salesHistoryQuery.order"" >
                    <td md-cell class="td-space" width="25%">{{s.po_number}}</td>
                    <td md-cell class="td-space" width="25%">{{formatSORT_DATE(s.order_date)}}</td>
                    <td md-cell class="td-space" width="25%">{{s.purgrp}}</td>
                    <td md-cell class="td-space" width="25%">{{s.type}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>

   </div>

   <div layout="column"  flex="100" ng-show="tabSelected == 1 && salesHistorySelected.length>0">
       
       <b>Items by Order</b>
        <fieldset class="table-set" >
          <div flex="100" class="table-container" >
            <md-table-container ng-show="salesPartnerProgress" >
              <table md-virtual-repeat-container md-table md-progress="salesPartnerProgress" >
                <thead md-head fix-head>
                  <tr md-row>
                    <th md-column class="td-space"><span>LineNo</span></th>
                    <th md-column class="td-space"><span>Material</span></th>
                    <th md-column class="td-space"><span>Uom</span></th>
                    <th md-column class="td-space"><span>Price</span></th>
                    <th md-column class="td-space"><span>Quantity</span></th>
                    <th md-column class="td-space"><span>Currency</span></th>
                    <th md-column class="td-space"><span>Mat Group</span></th>
                     <th md-column class="td-space"><span>Plant</span></th>
                    <th md-column class="td-space"><span>Description</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-virtual-repeat="s in salesHistorySelected[0].line_items" >
                    <td md-cell class="td-space" >{{s.item_no}}</td>
                    <td md-cell class="td-space" >{{s.material}}</td>
                    <td md-cell class="td-space" >{{s.uom}}</td>
                    <td md-cell class="td-space" >{{s.net_price | currency : "" : 2}}</td>
                    <td md-cell class="td-space" >{{s.order_qty | currency : "" : 0}}</td>           
                    <td md-cell class="td-space" >{{s.currency}}</td>                                       
                    <td md-cell class="td-space" >{{s.mat_group}}</td>
                    <td md-cell class="td-space" >{{s.plant}}</td>                                       
                    <td md-cell class="td-space" >{{s.mat_description}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>



<div layout="column"  flex="100" ng-show="tabSelected == 2 && labelsForGraphicReport.length>0">
    <h5>PO By Vendor Trailing 18 Months</h5>
    <canvas class="chart-base" chart-type="'bar'" chart-options="chartOptions"  chart-data="dataForGraphicReport" chart-labels="labelsForGraphicReport" >
    </canvas>
</div>

</div>

  <div flex="20" flex-xs="100">
    <div layout="column" class="atp-container" ng-show="tabSelected == 0">
    
  <md-toolbar md-scroll-shrink ng-show="orderSelected && orderSelected.value!='0' && orderSelected.value!='NEW'" style="margin-top:5px">
      <div class="md-toolbar-tools" md-truncate flex >Notes&nbsp;<md-button id="btn_add" ng-click="showAddNote($event)" class="md-icon-button" aria-label="Add note" title="Ad Note">
          <md-icon class="material-icons">add</md-icon>
           </md-button>
          <div flex></div>
        <md-button  ng-show="!hiddenNotes" class="md-mini btn-nomin"  aria-label="Hide" ng-click="hiddenNotes=true"
              title="Hide" >
            <md-icon class="material-icons">expand_less</md-icon>
            </md-button>
            <md-button  ng-show="hiddenNotes" class="md-mini btn-nomin"  aria-label="Show" ng-click="hiddenNotes=false" title="Show">
                <md-icon class="material-icons">expand_more</md-icon>
            </md-button>
       
      </div>      
    </md-toolbar>
     <md-content md-theme="altTheme" ng-show="!hiddenNotes && orderSelected && orderSelected.value!='0' && orderSelected.value!='NEW'"  md-virtual-repeat-container style="height: 245px">
      <section>
        <md-list-item class="md-3-line" md-virtual-repeat="n in notes | filter:notesFilter"
            style="border-bottom-style: solid;border-bottom-width: 1px;">
            <div class="md-list-item-text"  layout="row" layout-xs="row" layout-sm="column">
              <div style="width: 20%;float: left;" ng-show="n.LINE != 'HDR'">{{n.LINE}}</div>
              <div style="{{n.LINE == 'HDR' ? 'width: 100%' : 'width: 80%'}};float: right;">{{n.TEXT}}</div>
             </div>
        </md-list-item>
    </section>
  </md-content>

    </div>
  </div>
   
    </div>
    
  </md-content>
 <footer>
      <md-toolbar class="md-scroll-shrink" style="min-height: 40px;background-color: rgb(250,250,250);color:black;margin-bottom: 50px;padding-top: 20px">
        <div layout="row" layout-align="center center" flex layout-xs="column" >
          <div style="text-align: center;font-size: 14px">Copyright © 2018 Gateway Architects. All rights reserved.</div>
        </div>
      </md-toolbar>
    </footer>