<div ng-controller="SalesOrderController" ng-cloak class="demo-so demo-background">

  <div style="visibility: hidden;">
      <div class="md-dialog-container" id="atpContainer">
          <md-dialog layout-padding style="height:200px">
            <md-toolbar md-scroll-shrink>
              <div class="md-toolbar-tools">ATP</div>
            </md-toolbar>
               <md-content>
                <section>
                <md-table-container >
                        <table md-table >
                          <tbody md-body> 
                            <tr md-row style="height:33px">
                              <td md-cell class="td-space">Unrestricted Stock</td>
                              <td md-cell class="td-space" style="text-align: right;">{{ats.UNRESTRICTED_STCK}}</td>
                            </tr>
                            <tr md-row style="height:33px">
                              <td md-cell class="td-space">Sales Reqs</td>
                              <td md-cell class="td-space" style="text-align: right;">{{ats.SALES_REQS}}</td>
                            </tr>
                            <tr md-row style="height:33px">
                              <td md-cell class="td-space">Orders</td>
                              <td md-cell class="td-space" style="text-align: right;">{{ats.ORDERS}}</td>
                            </tr>
                            <tr md-row style="height:33px">
                              <td md-cell class="td-space">Delivery Notes</td>
                              <td md-cell class="td-space" style="text-align: right;">{{ats.DELIVERY}}</td>
                            </tr>
                            <tr md-row style="height:33px">
                              <td md-cell class="td-space">Total Stock</td>
                              <td md-cell class="td-space" style="text-align: right;">{{ats.TOTAL_STCK}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </md-table-container> 
              </section>
            </md-content>

          </md-dialog>
      </div>
  </div>
  <div style="visibility: hidden">
          <div class="md-dialog-container" id="myDialog" >
            <md-dialog layout-padding>
              <h2>Executing Log</h2>
              <fieldset class="table-set" >
                <div  class="table-container" style="background-color: #e2dfdf;width: 100%;height: 350px">
                  <span ng-bind-html="log" style="font-size: 12px"></span>
                </div>
            </fieldset>
            </md-dialog>
          </div>
  </div>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="addNoteDialog" >
      <md-dialog layout-padding>
        <div layout="column"  flex="100" style="padding-top: 20px">
 
         <b>{{note.title}}</b>
          <fieldset class="table-set" >
            <md-input-container class="md-block" flex="50" flex-gt-sm style="margin-bottom: 0px">
              <label>Note content</label>
              <textarea ng-model="note.text" cols="40" rows="3" md-detect-hidden></textarea>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm style="text-align: right;">
              <md-button class="md-raised md-primary md-button" 
                  ng-click="saveNote($event)" ng-disabled="note.text.length==0 || !orderSelected ||  orderSelected=='0' || orderSelected=='NEW'">
              Save
              </md-button>
            </md-input-container>
          </fieldset>
         
        </div>
      </md-dialog>
    </div>
  </div>

<md-toolbar class="md-hue-2">

	  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="gotoHome()">
         <md-icon ng-bind="'home'"></md-icon>
        </md-button>

        <h2 flex md-truncate>Sales Order</h2>

    
         <md-menu>
       <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdOpenMenu,$event)">
          <md-icon md-menu-origin ng-bind="'more_vert'"></md-icon>
        </md-button>
      <md-menu-content width="4" ng-mouseleave="close()">
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'info'"></md-icon> About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon ng-bind="'perm_identity'"></md-icon> User preferences
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
           <md-icon ng-bind="'power_settings_new'"></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

      </div>

    </md-toolbar>

  <md-content class="md-padding" layout="row" style="padding-top: 0px">
    
    <div layout="row" flex="100" layout-xs="column">


     <div flex="{{hiddenPartnerInfo ? '1' : '20'}}" flex-xs="100" style="padding-top: 49px">
      <div layout="column" ng-show="!isMobileDevice">
          <div style="text-align: right;float: right;width: 100%">
             <md-button  ng-show="!hiddenPartnerInfo" id="btn_hide_material" class="md-mini"  aria-label="Hide Materials" ng-click="hidePartnerInfo()" 
              style="margin:0px 10px -60px 0px;min-width:0px"
              title="Hide Partner Info" >
                <md-icon class="material-icons">navigate_before</md-icon>
            </md-button>
            <md-button  ng-show="hiddenPartnerInfo" id="btn_show_material" class="md-mini"  aria-label="Hide Materials" ng-click="showPartnerInfo()"
            style="margin:0px 10px -60px 0px;min-width:0px" title="Show Partner Info">
                <md-icon class="material-icons">navigate_next</md-icon>
            </md-button>
          </div>
      </div>
        <div layout="column" ng-show="!hiddenPartnerInfo">
          <fieldset class="table-set" >
            <div style="width: 100%;height:15px">
              <div style="width: 50%;float: left;">
                <h5 style="padding-top: 0px;margin-top: 5px;margin-bottom: 5px">Partner Info <span style="color: red">*</span></h5>
              </div>
              <div style="width: 50%;float: right;text-align: right;">
                 <md-button  ng-show="isMobileDevice && !collapseParterInfo  " id="btn_hide_material" class="md-mini"  aria-label="Hide Materials" ng-click="collapseParterInfo = true" 
                  style="margin:0px;min-width:0px"
                  title="Hide Partner Info" >
                    <md-icon class="material-icons">expand_less</md-icon>
                </md-button>
                <md-button  ng-show="isMobileDevice && collapseParterInfo" id="btn_show_material" class="md-mini"  aria-label="Hide Materials" ng-click="collapseParterInfo = false"
                style="margin:0px;min-width:0px" title="Show Partner Info">
                    <md-icon class="material-icons">expand_more</md-icon>
                </md-button>
              </div>
          </div>
          <div ng-show="!isMobileDevice || !collapseParterInfo " style="width: 100%;padding-top: 10px ">
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px" >
          <label>Ship To:</label>
          <md-select ng-model="shipToSelected" ng-required="true" ng-change="changeShipTo(shipToSelected)">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in shipToArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px" 
          >
          <label>Sold To:</label>
           <md-select ng-model="soldToSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in soldToArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px"
         >
              <label>Payer:</label>
              <md-select ng-model="payerSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in payerArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px"
         >
          <label>Deliver To:</label>
          <md-select ng-model="shipTo2Selected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in shipToArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
          </md-input-container>
        </div>
           <div style="width: 100%;height:15px;padding-top: 20px">
              <div style="width: 50%;float: left;">
                <h5 style="padding-top: 0px;margin-top: 5px;margin-bottom: 5px">Sales selection<span style="color: red">*</span></h5>
              </div>
              <div style="width: 50%;float: right;text-align: right;">
                 <md-button  ng-show="isMobileDevice && !collapseSalesSelection  " id="btn_hide_material" class="md-mini"  aria-label="Hide Materials" ng-click="collapseSalesSelection = true" 
                  style="margin:0px;min-width:0px"
                  title="Hide Partner Info" >
                    <md-icon class="material-icons">expand_less</md-icon>
                </md-button>
                <md-button  ng-show="isMobileDevice && collapseSalesSelection" id="btn_show_material" class="md-mini"  aria-label="Hide Materials" ng-click="collapseSalesSelection = false"
                style="margin:0px;min-width:0px" title="Show Partner Info">
                    <md-icon class="material-icons">expand_more</md-icon>
                </md-button>
              </div>
          </div>
          <div ng-show="!isMobileDevice || !collapseSalesSelection " style="width: 100%;padding-top: 20px ">
           <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px">
            <label>Organization:</label>
               <md-select ng-model="organizationSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in organizationArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px">
            <label>Channel:</label>
             <md-select ng-model="channelSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in channelArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
             </md-input-container>
             <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px">
             <label>Division:</label>
            <md-select ng-model="divisionSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in divisionArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px">
            <label>Office:</label>
              <md-select ng-model="officeSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in officeArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;margin-top: 10px">
                <label>Group:</label>
                <md-select ng-model="groupSelected" ng-required="true" ng-change="changeGeneric()">
                <md-option ng-value=""></md-option>
                  <md-option ng-repeat="s in groupArray" ng-value="s.value" >
                    {{s.label}}
                  </md-option>
                </md-select>
            </md-input-container> 
          </div>
          </fieldset>
              
        </div>
    </div>

    <div flex="{{hiddenPartnerInfo ? '80' : '60'}}" flex-xs="100" id="tablesContainerMain">

      <div layout="column" flex="100" style="{{isMobileDevice ? 'margin-top: 5px;margin-bottom: 20px' : 'margin-top: -6px;'}}">
        <md-tabs md-dynamic-height md-selected="tabSelected">
          <md-tab label="Sales Order" md-on-select="changeGeneric()">
          </md-tab>
          <md-tab label="Sales by Partner" md-on-select="changeGeneric()">
          </md-tab>
          <md-tab label="Sales by Material" md-on-select="changeGeneric()">
          </md-tab>
          <md-tab label="Analytics" md-on-select="changeGeneric()">
          </md-tab>
        </md-tabs>
      </div>

      <div  layout="column" flex="100"  ng-show="tabSelected != 3">
       <div style="height: 25px">
        <div style="text-align: left;float: left;width: 50%;padding-top:0px">
          <b>Material Catalog</b>
        </div>
        <div style="text-align: right;float: right;width: 50%;padding-top: 0px;margin-top: -17px">
        <md-button class="md-primary md-raised md-mini" style="margin: 0px; min-width: 0px" 
            title="Show ATP" ng-click="showAtpDialog($event)" ng-show="isMobileDevice"
            ng-disabled="materialSelected.length==0">
          <md-icon class="material-icons">receipt</md-icon>
        </md-button>
           <md-button class="md-primary md-raised md-mini" style="margin: 0px; min-width: 0px" 
            title="Show Logs" ng-click="showLogs($event)">
          <md-icon class="material-icons">list</md-icon>
        </md-button>
          <md-button id="btn_hide_material" class="md-primary md-raised md-mini" 
              aria-label="Hide Materials" style="margin: 0px; min-width: 0px" title="Add Note" 
              ng-disabled="!orderSelected || orderSelected=='0' || orderSelected=='NEW'"
              ng-click="showAddNote($event)">
              <md-icon class="material-icons">note_add</md-icon>
          </md-button>
           <md-button  ng-show="!hiddenMaterial" id="btn_hide_material" class="md-primary md-raised md-mini" aria-label="Hide Materials" ng-click="hideMaterials()" style="margin: 0px; min-width: 0px" title="Hide">
              <md-icon class="material-icons">expand_less</md-icon>
          </md-button>
          <md-button  ng-show="hiddenMaterial" id="btn_show_material" class="md-primary md-raised md-mini" aria-label="Hide Materials" ng-click="showMaterials()" style="margin: 0px;min-width: 0px" title="Show">
              <md-icon class="material-icons">expand_more</md-icon>
          </md-button>
        </div>
       </div>
        <fieldset class="table-set" ng-show="!hiddenMaterial">
          
          <div flex="100" class="table-container" style="{{!isMobileDevice ? 'height: 176px' : 'height: 215px'}}">
            <md-table-container ng-show="materialCatalogProgress">
              <table md-virtual-repeat-container md-table md-row-select ng-model="materialSelected" md-progress="materialCatalogProgress">
                <thead md-head >
                  <tr md-row>
                    <th md-column class="td-space" ><span>Description</span></th>
                    <th md-column class="td-space" ><span>Group</span></th>
                    <th md-column class="td-space" ><span>Material</span></th>
                    <th md-column class="td-space" ><span>Plant</span></th>
                    <th md-column class="td-space" ><span>Price</span></th>
                    <th md-column class="td-space" ><span>Uom</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="m" md-on-select="onSelectMaterialRow"  md-virtual-repeat="m in materialCatalog" 
                      >
                    <td md-cell class="td-space" width="30%">{{m.DESCRIPTION}}</td>
                    <td md-cell class="td-space" width="10%">{{m.GROUP}}</td>
                    <td md-cell class="td-space" width="20%">{{m.MATERIAL}}</td>
                    <td md-cell class="td-space" width="10%">{{m.PLANT}}</td>
                    <td md-cell class="td-space" width="20%">{{m.PRICE}}</td>
                    <td md-cell class="td-space" width="10%">{{m.UOM}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       </div>

       <div layout="column"  flex="100" ng-show="tabSelected == 0" style="{{!isMobileDevice ? 'height: 42px;' : ''}}">
             
        <fieldset class="table-set" layout="row" style="border: 0px;padding-bottom: 0px;">

          <div flex="100" flex-xs="100" layout="row" layout-xs="column" class="table-container-2">
            <div style="padding-top: 5px;" flex="15" flex-xs="50" layout-xs="row">
              <label style="font-size: 12px;font-weight: bold;">Order Number:</label>
            </div>
            <div flex="20" flex-xs="50" layout-xs="row">
              <select style="{{!isMobileDevice ? 'width: 90%' : 'width:50%'}}" name="order" ng-model="orderSelected" ng-change="changeOrder(orderSelected)" ng-disabled="!shipToSelected || !shipTo2Selected || !soldToSelected || !payerSelected || !organizationSelected || !channelSelected || !divisionSelected || !officeSelected || !groupSelected">
                  <option value="0"></option>
                  <option ng-repeat="o in orderArray" value="{{o.value}}" ng-selected="orderSelected == o.value">{{o.label}}</option>
                </select>
            </div>
            <div  flex="25" flex-xs="50">
              <label style="font-size: 12px;font-weight: bold;" ng-show="!orderSelected || orderSelected == '0'">No Sales Document Selected yet</label>
              <label style="font-size: 12px;font-weight: bold;" ng-show="salesOrder.length>0 ">Number of Lines items {{salesOrder.length}}</label>
            </div>          
          <div ng-show="materialSelected.length>0" layout-xs="row" flex="15" flex-xs="50">
              <md-button class="md-raised md-primary md-button" ng-click="addLines()" 
               ng-disabled="disableAddLines" style="line-height:24px;min-height: 25px; margin: 0px">
                Add lines
              </md-button>
            </div>
            <div ng-show="materialSelected.length>0"  flex="25" layout-xs="row" flex-xs="50">
              <md-slider-container style="{{!isMobileDevice ? 'margin-top: -8px;' : ''}}">
                  <md-slider ng-model="multiplier" min="0" max="100" aria-label="blue" id="multiplier-slider"
                             class="md-primary">
                  </md-slider>
                  {{multiplier}}
                  <!--md-input-container style="margin: 0;padding: 0">
                    <input type="number" style="width: 50px" ng-model="multiplier" aria-label="blue" aria-controls="multiplier-slider">

                  </md-input-container -->
              </md-slider-container>
            </div>
          </div>

        </fieldset>
      </div> 

      <div layout="column"  flex="100" ng-show="tabSelected == 0">
       
        <fieldset class="table-set" >
          <div flex="100" class="table-container" style="{{hiddenMaterial ? 'height: 402px' : 'height: 208px'}};">
            <md-table-container ng-show="readOrderProgress">
              <table md-table md-row-select ng-model="salesOrderSelected" md-progress="readOrderProgress" md-body  md-virtual-repeat-container>
                <thead md-head>
                  <tr md-row >
                    <th md-column class="td-space"><span>LineNo</span></th>
                    <th md-column class="td-space"><span>Material</span></th>
                    <th md-column class="td-space"><span>Plant</span></th>
                    <th md-column class="td-space"><span>Unit</span></th>
                    <th md-column class="td-space"><span>Quantity</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="s" md-on-select="onSelectSalesOrderRow" md-virtual-repeat="s in salesOrder" >
                    <td md-cell class="td-space" width="10%">{{s.line_no}}</td>
                    <td md-cell class="td-space" width="30%">{{s.material}}</td>
                    <td md-cell class="td-space" width="20%">{{s.plant}}</td>
                    <td md-cell class="td-space" width="25%">{{s.price}}</td>
                    <td md-cell class="td-space" width="15%">{{s.qty}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

   <div layout="column"  flex="100" ng-show="tabSelected == 1" style="padding-top: 20px">
       
        <fieldset class="table-set" ng-show="salesHistorySelected.length>0" >
          <div flex="100">
            <md-table-container >
              <table md-table>
                <thead md-head >
                  <tr md-row>
                    <th md-column class="td-space"><span>Category</span></th>
                    <th md-column class="td-space"><span>Currency</span></th>
                    <th md-column class="td-space"><span>Delivery Date</span></th>
                    <th md-column class="td-space"><span>Doc Type</span></th>
                    <th md-column class="td-space"><span>Net Value</span></th>
                    <th md-column class="td-space"><span>Sales document</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row>
                    <td md-cell class="td-space">{{salesHistorySelected[0].CATEGORY}}</td>
                    <td md-cell class="td-space">{{salesHistorySelected[0].CURRENCY}}</td>
                    <td md-cell class="td-space">{{salesHistorySelected[0].DELIVERY_DATE}}</td>
                    <td md-cell class="td-space">{{salesHistorySelected[0].DOC_TYPE}}</td>
                    <td md-cell class="td-space">{{salesHistorySelected[0].NET_VALUE}}</td>
                    <td md-cell class="td-space">{{salesHistorySelected[0].SALES_DOCUMENT}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

    <div layout="column"  flex="100" ng-show="tabSelected == 1 && materialSelected.length>0">
       
       <b>Items by Order</b>
        <fieldset class="table-set" >
          <div flex="100" class="table-container" style="{{hiddenMaterial ? 'height: 393px' : 'height: 261px'}}">
            <md-table-container ng-show="salesPartnerProgress" style="{{hiddenMaterial ? 'height: 393px' : 'height: 261px'}}">
              <table md-virtual-repeat-container md-table md-row-select ng-model="salesHistorySelected" md-progress="salesPartnerProgress" style="{{hiddenMaterial ? 'height: 393px' : 'height: 261px'}}">
                <thead md-head fix-head>
                  <tr md-row>
                    <th md-column class="td-space"><span>LineNo</span></th>
                    <th md-column class="td-space"><span>Material</span></th>
                    <th md-column class="td-space"><span>Uom</span></th>
                    <th md-column class="td-space"><span>Price</span></th>
                    <th md-column class="td-space"><span>Quality</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="s" md-on-select="onSalesHistorySelected" md-virtual-repeat="s in salesHistory | filter:{MATERIAL : materialSelected[0].MATERIAL}" >
                    <td md-cell class="td-space" width="10%">{{s.line_item.LINE_ITEM}}</td>
                    <td md-cell class="td-space" width="25%">{{s.line_item.MATERIAL}}</td>
                    <td md-cell class="td-space" width="20%">{{s.line_item.UOM}}</td>
                    <td md-cell class="td-space" width="25%">{{s.line_item.PRICE}}</td>
                    <td md-cell class="td-space" width="20%">{{s.line_item.QUANTITY}}</td>                                       
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>



<div layout="column"  flex="100" ng-show="tabSelected == 2">
         <fieldset class="table-set" >
          <div flex="100" class="table-container" style="{{hiddenMaterial ? 'height: 450px' : 'height: 256px'}}">
            <md-table-container ng-show="calculateATSProgress" style="{{hiddenMaterial ? 'height: 450px' : 'height: 256px'}}">
              <table md-virtual-repeat-container md-table md-row-select ng-model="salesMaterialSelected" md-progress="calculateATSProgress" style="{{hiddenMaterial ? 'height: 450px' : 'height: 256px'}}">
                <thead md-head >
                  <tr md-row>
                    <th md-column class="td-space"><span>PLNGSEGMT</span></th>
                    <th md-column class="td-space"><span>PLNGSEGNO</span></th>
                    <th md-column class="td-space"><span>SORT_DATE</span></th>
                    <th md-column class="td-space"><span>SORTIND_00</span></th>
                    <th md-column class="td-space"><span>SORTIND_01</span></th>
                    <th md-column class="td-space"><span>SORTIND_02</span></th>
                    <th md-column class="td-space"><span>MRP_ELEMENT_IND</span></th>
                    <th md-column class="td-space"><span>PLUS_MINUS</span></th>
                    <th md-column class="td-space"><span>AVAILABLE</span></th>
                    <th md-column class="td-space"><span>AVAIL_DATE</span></th>
                    <th md-column class="td-space"><span>FINISH_DATE</span></th>
                    <th md-column class="td-space"><span>MRP_ELEMNT</span></th>
                    <th md-column class="td-space"><span>ELEMNT_DATA</span></th>
                    <th md-column class="td-space"><span>EXCMSGKEY</span></th>
                    <th md-column class="td-space"><span>EXCMESSAGE</span></th>
                    <th md-column class="td-space"><span>REC_REQD_QTY</span></th>
                    <th md-column class="td-space"><span>AVAIL_QTY1</span></th>
                    <th md-column class="td-space"><span>AVAIL_QTY2</span></th>
                    <th md-column class="td-space"><span>ATP_QTY</span></th>
                    <th md-column class="td-space"><span>FBYTE</span></th>
                    <th md-column class="td-space"><span>INT_TABLE_IND1</span></th>
                    <th md-column class="td-space"><span>INT_TABLE_IND2</span></th>
                    <th md-column class="td-space"><span>SELECTION</span></th>
                    <th md-column class="td-space"><span>EXCEP_IND</span></th>
                    <th md-column class="td-space"><span>PROD_VERSION</span></th>
                    <th md-column class="td-space"><span>BOMEXPL_NO</span></th>
                    <th md-column class="td-space"><span>REV_LEV</span></th>
                    <th md-column class="td-space"><span>SCRAP</span></th>
                    <th md-column class="td-space"><span>START_DATE</span></th>
                    <th md-column class="td-space"><span>OPEN_DATE</span></th>
                    <th md-column class="td-space"><span>SPPROCTYPE</span></th>
                    <th md-column class="td-space"><span>EXT_SPPROCTYPE</span></th>
                    <th md-column class="td-space"><span>PLAN_PLANT1</span></th>
                    <th md-column class="td-space"><span>PLAN_PLANT2</span></th>
                    <th md-column class="td-space"><span>STG_LOC_2</span></th>
                    <th md-column class="td-space"><span>STORAGE_LOC</span></th>
                    <th md-column class="td-space"><span>RESCHED_DATE</span></th>
                    <th md-column class="td-space"><span>VENDOR_NO</span></th>
                    <th md-column class="td-space"><span>CUSTOMER</span></th>
                    <th md-column class="td-space"><span>CUST_NAME</span></th>
                    <th md-column class="td-space"><span>VEND_NAME</span></th>
                    <th md-column class="td-space"><span>LOW_LEVEL_EXCPT</span></th>
                    <th md-column class="td-space"><span>LOW_LEVEL_DELAY</span></th>
                    <th md-column class="td-space"><span>STOCK_IN_TRANSIT</span></th>
                    <th md-column class="td-space"><span>USER_EXIT1</span></th>
                    <th md-column class="td-space"><span>USER_EXIT2</span></th>
                    <th md-column class="td-space"><span>USER_EXIT3</span></th>
                    <th md-column class="td-space"><span>SORTIND_KD</span></th>
                    <th md-column class="td-space"><span>REC_REQD_QTY_ALT_UOM</span></th>
                    <th md-column class="td-space"><span>AVAIL_QTY_ALT_UOM</span></th>
                    <th md-column class="td-space"><span>TEXT_FIELD_ALT_UOM</span></th>
                    <th md-column class="td-space"><span>ICON_TEXT</span></th>
                    <th md-column class="td-space"><span>REQ_SEGMENT</span></th>
                    <th md-column class="td-space"><span>STOCK_SEGMENT</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row md-auto-select md-select="s" md-virtual-repeat="s in salesMaterial">
                    <td md-cell class="td-space">{{s.PLNGSEGMT}}</td>
                    <td md-cell class="td-space">{{s.PLNGSEGNO}}</td>
                    <td md-cell class="td-space">{{s.SORT_DATE}}</td>
                    <td md-cell class="td-space">{{s.SORTIND_00}}</td>
                    <td md-cell class="td-space">{{s.SORTIND_01}}</td>
                    <td md-cell class="td-space">{{s.SORTIND_02}}</td>
                    <td md-cell class="td-space">{{s.MRP_ELEMENT_IND}}</td>
                    <td md-cell class="td-space">{{s.PLUS_MINUS}}</td>
                    <td md-cell class="td-space">{{s.AVAILABLE}}</td>
                    <td md-cell class="td-space">{{s.AVAIL_DATE}}</td>
                    <td md-cell class="td-space">{{s.FINISH_DATE}}</td>
                    <td md-cell class="td-space">{{s.MRP_ELEMNT}}</td>
                    <td md-cell class="td-space">{{s.ELEMNT_DATA}}</td>
                    <td md-cell class="td-space">{{s.EXCMSGKEY}}</td>
                    <td md-cell class="td-space">{{s.EXCMESSAGE}}</td>
                    <td md-cell class="td-space">{{s.REC_REQD_QTY}}</td>
                    <td md-cell class="td-space">{{s.AVAIL_QTY1}}</td>
                    <td md-cell class="td-space">{{s.AVAIL_QTY2}}</td>
                    <td md-cell class="td-space">{{s.ATP_QTY}}</td>
                    <td md-cell class="td-space">{{s.FBYTE}}</td>
                    <td md-cell class="td-space">{{s.INT_TABLE_IND1}}</td>
                    <td md-cell class="td-space">{{s.INT_TABLE_IND2}}</td>
                    <td md-cell class="td-space">{{s.SELECTION}}</td>
                    <td md-cell class="td-space">{{s.EXCEP_IND}}</td>
                    <td md-cell class="td-space">{{s.PROD_VERSION}}</td>
                    <td md-cell class="td-space">{{s.BOMEXPL_NO}}</td>
                    <td md-cell class="td-space">{{s.REV_LEV}}</td>
                    <td md-cell class="td-space">{{s.SCRAP}}</td>
                    <td md-cell class="td-space">{{s.START_DATE}}</td>
                    <td md-cell class="td-space">{{s.OPEN_DATE}}</td>
                    <td md-cell class="td-space">{{s.SPPROCTYPE}}</td>
                    <td md-cell class="td-space">{{s.EXT_SPPROCTYPE}}</td>
                    <td md-cell class="td-space">{{s.PLAN_PLANT1}}</td>
                    <td md-cell class="td-space">{{s.PLAN_PLANT2}}</td>
                    <td md-cell class="td-space">{{s.STG_LOC_2}}</td>
                    <td md-cell class="td-space">{{s.STORAGE_LOC}}</td>
                    <td md-cell class="td-space">{{s.RESCHED_DATE}}</td>
                    <td md-cell class="td-space">{{s.VENDOR_NO}}</td>
                    <td md-cell class="td-space">{{s.CUSTOMER}}</td>
                    <td md-cell class="td-space">{{s.CUST_NAME}}</td>
                    <td md-cell class="td-space">{{s.VEND_NAME}}</td>
                    <td md-cell class="td-space">{{s.LOW_LEVEL_EXCPT}}</td>
                    <td md-cell class="td-space">{{s.LOW_LEVEL_DELAY}}</td>
                    <td md-cell class="td-space">{{s.STOCK_IN_TRANSIT}}</td>
                    <td md-cell class="td-space">{{s.USER_EXIT1}}</td>
                    <td md-cell class="td-space">{{s.USER_EXIT2}}</td>
                    <td md-cell class="td-space">{{s.USER_EXIT3}}</td>
                    <td md-cell class="td-space">{{s.SORTIND_KD}}</td>
                    <td md-cell class="td-space">{{s.REC_REQD_QTY_ALT_UOM}}</td>
                    <td md-cell class="td-space">{{s.AVAIL_QTY_ALT_UOM}}</td>
                    <td md-cell class="td-space">{{s.TEXT_FIELD_ALT_UOM}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

<div layout="column"  flex="100" ng-show="tabSelected == 3" style="padding-top: 25px">
       
        <fieldset class="table-set" ng-show="calculateAnalyticsProgress" >
          <div flex="100">
            <md-table-container >
              <table md-table md-progress="calculateAnalyticsProgress">
                <thead md-head>
                  <tr md-row>
                    <th md-column class="td-space"><span>Top {{analytics.popmats.length}} Materials</span></th>
                  </tr>
                </thead>
                <tbody md-body> 
                  <tr md-row ng-repeat="m in analytics.popmats">
                    <td md-cell class="td-space">{{m.material}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
          </div>
        </fieldset>
       
          </div>

<div layout="column"  flex="100" ng-show="tabSelected == 3" style="padding-top: 20px">
         <fieldset class="table-set" ng-show="analytics" >
          <div flex="100">
            <b>Average Partner Sales in USD: {{analytics.average | currency : "" : 2}}</b><br/>
            <b>Highest Sales Amount in USD: {{analytics.highsale | currency : "" : 2}}</b><br/>
            <b>Highest Quantity in Product Units sold to Partner: {{analytics.mostqty | currency : "" : 0}}</b><br/>
            <b>Standard Deviation of the Average with respect to total sales in USD: {{analytics.stddev | currency : "" : 2}}</b>
          </div>
        </fieldset>
</div>



</div>

  <div flex="20" flex-xs="100" ng-show="materialSelected.length>0">
    <div layout="column" style="padding-top: 67px" ng-show="tabSelected == 0">
    <md-toolbar md-scroll-shrink ng-show="!isMobileDevice">
      <div class="md-toolbar-tools">ATP
<div flex></div>
       <md-button  ng-show="!hiddenATP" class="md-mini"  aria-label="Hide" ng-click="hiddenATP=true"
              title="Hide" >
            <md-icon class="material-icons">expand_less</md-icon>
            </md-button>
            <md-button  ng-show="hiddenATP" class="md-mini"  aria-label="Show" ng-click="hiddenATP=false" title="Show">
                <md-icon class="material-icons">expand_more</md-icon>
            </md-button>
      </div>
      
    </md-toolbar>
     <md-content md-theme="altTheme" ng-show="!hiddenATP && !isMobileDevice">
      <section>
      <md-table-container ng-show="calculateATSProgress">
              <table md-table md-progress="calculateATSProgress">
                <tbody md-body> 
                  <tr md-row style="height:33px">
                    <td md-cell class="td-space">Unrestricted Stock</td>
                    <td md-cell class="td-space" style="text-align: right;">{{ats.UNRESTRICTED_STCK}}</td>
                  </tr>
                  <tr md-row style="height:33px">
                    <td md-cell class="td-space">Sales Reqs</td>
                    <td md-cell class="td-space" style="text-align: right;">{{ats.SALES_REQS}}</td>
                  </tr>
                  <tr md-row style="height:33px">
                    <td md-cell class="td-space">Orders</td>
                    <td md-cell class="td-space" style="text-align: right;">{{ats.ORDERS}}</td>
                  </tr>
                  <tr md-row style="height:33px">
                    <td md-cell class="td-space">Delivery Notes</td>
                    <td md-cell class="td-space" style="text-align: right;">{{ats.DELIVERY}}</td>
                  </tr>
                  <tr md-row style="height:33px">
                    <td md-cell class="td-space">Total Stock</td>
                    <td md-cell class="td-space" style="text-align: right;">{{ats.TOTAL_STCK}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container> 
    </section>
  </md-content>

  <md-toolbar md-scroll-shrink ng-show="orderSelected && orderSelected!='0' && orderSelected!='NEW'" style="margin-top:5px">
      <div class="md-toolbar-tools" md-truncate flex >
         Notes
         &nbsp;
         <md-button id="btn_add" ng-click="showAddNote($event)" class="md-icon-button" aria-label="Add note" title="Ad Note">
          <md-icon class="material-icons">add</md-icon>
           </md-button>
          <div flex></div>
        <md-button  ng-show="!hiddenNotes" class="md-mini"  aria-label="Hide" ng-click="hiddenNotes=true"
              title="Hide" >
            <md-icon class="material-icons">expand_less</md-icon>
            </md-button>
            <md-button  ng-show="hiddenNotes" class="md-mini"  aria-label="Show" ng-click="hiddenNotes=false" title="Show">
                <md-icon class="material-icons">expand_more</md-icon>
            </md-button>
       
      </div>      
    </md-toolbar>
     <md-content md-theme="altTheme" ng-show="!hiddenNotes && orderSelected && orderSelected!='0' && orderSelected!='NEW'" md-virtual-repeat-container style="height: 245px">
      <section>
        <md-list-item class="md-3-line" md-virtual-repeat="n in notes | filter:notesFilter"
            style="border-bottom-style: dashed;border-bottom-width: 1px;">
            <div class="md-list-item-text">
              <div style="width: 20%;float: left;">{{n.LINE}}</div>
              <div style="width: 80%;float: right;">{{n.TEXT}}</div>
             </div>
        </md-list-item>
    </section>
  </md-content>

    </div>
  </div>
   
    </div>
     
  </md-content>

 
</div>